[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.26.2"
flask = "*"
ta = "==0.11.0"
yfinance = "==0.2.40"
mlflow = "==2.14.3"
prefect = "*"
evidently = "*"
pylint = "*"
black = "*"
isort = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
